{% extends 'layout.html' %}
{% block title %} Tambah Data {% endblock %}
{% block content %}



<h2>Tambah Data</h2>
<form method="post">
    <table style="width: 400px;" >
        <tr>
            <td>No Induk</td>
            <td> <input type="text" name="no_induk" > </td>
        </tr>
        <tr>
            <td>Nama</td>
            <td> <input type="text" name="nama"> </td>
        </tr>
        <tr>
            <td>Alamat</td>
            <td> <textarea name="alamat" ></textarea> </td>
        </tr>
        <tr>
            <td></td>
            <td> <button type="submit">Simpan</button> </td>
        </tr>
    </table>
</form>

{% endblock %}